name: Deploy to Cloudflare Workers

on:
push:
branches:
- main # 或者你想触发部署的分支

jobs:
deploy:
runs-on: ubuntu-latest
name: Deploy
steps:
- uses: actions/checkout@v3
- name: Use Node.js
uses: actions/setup-node@v3
with:
node-version: '20.x'
- run: npm install
- name: Publish
uses: cloudflare/wrangler-action@3.0.0
with:
apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
